{{#link-to 'deal' deal (query-params title=redirectTitle redirect=redirectRoute) tagName="div" class="container"}}

  <div class="details">
    <aside>
      <div class="boxed">
        <p>{{ deal.details }}</p>
        <small>${{ deal.price }}</small>
      </div>
    </aside>
  </div>

  <header>
    <h3 class="heading-title">{{ deal.title }}</h3>
    <em class="heading-subtitle">{{ deal.modelNumber }}</em>
  </header>

{{/link-to}}
