{{#if favorite}}

  <h4>{{ title }}</h4>

  <label>Remind me on:</label>
  {{date-pickadate remind_at=favorite.remind_at}}

  <div class="controls">
    <button {{action 'saveRemindAt'}}>Save</button>
    <a href="#">Dismiss</a>
  </div>
{{/if}}
