{{#if favorite}}
  <h4>{{ title }}</h4>

  <form {{action 'saveRemindAt'}}>
    <label>Remind me on:</label>
    {{date-pickadate date=favorite.remind_at}}

    <div class="controls">
      <button>Save</button>
      <a href="#">Dismiss</a>
    </div>
  </form>
{{/if}}
