<ul class="icon-list">
  <li {{action 'toggleRelatedPosts'}}>
    <i class="fa fa-caret-{{if isDisplayed 'down' 'right'}}"></i> Related Posts
  </li>


  <div class="slide-height {{if isDisplayed 'animate'}}">
    <ul>
      {{#each product.relatedPosts as |post|}}
        {{#link-to 'post' post tagName="li"}}{{{ post.title }}}{{/link-to}}
      {{/each}}
    </ul>
  </div>
</ul>
