.top-notification {
  display: block !important;
  padding-right: 50px;
  padding-left : 50px;

  @extend .flip-down;

  p {
    margin-bottom: 0;
    font-size: 1rem;
    word-break: break-word;

    i {
      position: absolute;
      left: -30px;
      top : 5px;
      margin-right: 5px;
      font-size: 1.3rem;
    }
  }

  &.bg-green-dark {
    // background-color: rgba(42, 187, 103, .9) !important;
  }

}
