.app-view.view-cart {

  .page-index {
    .controls {
      @include clearfix();
      margin-top: $grid-gutter-width;

      .btn.btn-danger {
        float: right;
      }
    }

    .related-posts {
      padding-left: 30px; // match .ui-checkbox to be inline
    }
  }

  .page-show {
    //
  }

}
