.app-view.view-dashboard {
  padding-top: 0;

  .tiles {
    @include make-row();
    padding: 0 5px;

    .tile {
      position: relative;
      float: left;
      margin: 10px 5px 0;
      width: calc(50% - 10px);

      a,
      figure,
      caption {
        display: block;
        color: $color-white;
        text-transform: uppercase;
      }
      a {
        line-height: 50px;
      }
    }

    &.pages .tile {
      background-color: $color-gray-darker;

      .fa {
        position: absolute;
        top : 50%;
        left: 15px;
        margin-top: -11px;
        font-size: $font-size-base + 8px;
        opacity: .8;
      }

      a {
        padding-left: 50px;
      }
    }

    &.posts .tile {
      header {
        h1 {
          font-size: $font-size-base + 4px;
        }
      }

      &.entry {
        figure {
          .date {
            position: absolute;
            display: block;
            top : 3px;
            left: 3px;
            padding-top: 4px;
            width : 40px;
            height: 40px;
            content: "";
            border-radius: 50%;
            background-color: rgba(0,0,0,.4);

            .month,
            .day {
              display: block;
              width: 40px;
              text-align: center;
            }
            .month {
              font-size: 12px;
            }
            .day {
              margin-top: -5px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

}
