.app-view.view-loading {
  position: fixed;
  top: 55px; // under toolbar
  z-index: 100;
  height: calc(100% - 55px);
  background-color: $color-white;

  .component-loading-spinner {
    .spinner {
      position: absolute;
      top : 50%;
      left: 50%;
      margin: -32px 0 0 -32px;
    }
  }
}
