.view-login,
.view-registration,
.view-activation {

  .pageapp-login-content {
    position: relative;
    top:  0;
    left: 0;
    margin: 0 auto !important;
    padding-top: 30px;
    transform: translateY(0) !important;

    .unboxed-layout {
      margin-top: 0 !important;
      padding-bottom: 40px;
    }

    .text-instructions {
      text-align: center;

      h1 {
        color: #fff;
      }
      p {
        color: #bbb;
      }
    }
  }

  form,
  .pageapp-login,
  .cover-screen .overlay {
    min-height: calc(100%);
  }
  .cover-screen .overlay {
    width: 100%;
  }

  form {
    position: relative;
    z-index: 2;
  }

  .cover-center {
    margin-left: -150px;
    -webkit-transform: translateY(-50%);
    -ms-transform:     translateY(-50%);
    transform:         translateY(-50%);
  }

  &.view-activation {
    .pageapp-login {
      background-image: url(images/views/dashboard/koopman-advantage.jpg);
      background-position: right top;

      .unboxed-layout {
        .pageapp-login-logo {
          width : 300px;
          height: 15px;
          background-image: url(images/views/dashboard/koopman-advantage-logo.png);
          background-position: center;
          background-size: 397px 15px;
          background-repeat: no-repeat;
        }

        div input {
          padding-left: 10px;
        }
      }
    }
  }

  .pageapp-login {
    background-image: url(images/views/login/koopman-truck.jpg);
    background-position: -150px bottom;

    .unboxed-layout {
      .static-notification {
        border-radius: 5px;
        -webkit-animation:pop-in 0.5s;

        @-webkit-keyframes pop-in {
          0% { opacity: 0; -webkit-transform: scale(0); }
          100% { opacity: 1; -webkit-transform: scale(1); }
        }
        @keyframes pop-in {
          0% { opacity: 0; transform: scale(0); }
          100% { opacity: 1; transform: scale(1); }
        }

        &.bg-red-dark {
          background-color: rgba(192, 57, 43,.8) !important;
        }
        ul {
          margin-top: 10px;
          margin-bottom: 0;
          padding-left: 50px;
          color: #eee;
          font-size: .7rem;

          li {
            margin-bottom: 5px;
            line-height: normal;
          }
        }
        p {
          line-height: normal;
        }
      }
      .decoration {
        margin: 30px 0;
        background-color: #888;
      }
      .pageapp-login-logo {
        width : 300px;
        height: 100px;
        background-image: url(images/koopman_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .pageapp-login-button {
      padding: 10px 15px;
      font-size: .9rem;
    }

    .advantage-signup {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: max-height 1s;
      transition:         max-height 1s;

      .pageapp-login-field {
        opacity: 0;
        -webkit-transition: opacity .5s;
        transition:         opacity .5s;
      }

      &.show-fields {
        max-height: 120px;

        .pageapp-login-field {
          opacity: 1;
        }
      }
    }

    .unboxed-layout .pageapp-login-field {
      &.no-indent {
        input {
          padding-left: 10px;
        }
      }
      i {
        z-index: 1;
      }
    }

    .login-create,
    .login-forgot-password {
      text-align: center;
      text-indent: -16px;
      font-size: 12px;
      color: #888;
      transition: all 250ms ease;

      i {
        padding-left : 10px;
        padding-right: 10px;
      }
    }
    .login-create {
      margin-top: 30px;
    }
    .login-forgot-password {
      margin-top: 10px;
    }
  }

  .switch-box {
    display: table;
    width: 100%;

    .switch:not(.switch-1-on) + .switch-box-subtitle {
      // display: none;
    }

    h4,
    .switch-box-subtitle {
      font-weight: 300;
    }
    h4 {
      color: #fff;
    }
    .switch-box-subtitle {
      color: #bbb;
    }
  }

}
