.view-projects {

  .portfolio-filter {
    .portfolio-filter-categories {
      &,
      .portfolio-filter-categories-navigation {
        padding-bottom: 0;
      }
    }

    .container {
      margin-bottom : 0;
      padding-top   : 30px;
      padding-bottom: 20px;
      background-color: #eee;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }

    .portfolio-filter-wrapper {
      margin-top: 0;

      .portfolio-filter-item {
        margin-bottom: 25px;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
      }
    }
  }

}
