@import "header";


html,
body {
  height: 100%;
  background-color: $color-gray-light;
}


.m-pikabu-viewport {
  .m-pikabu-sidebar {
    background-color: $color-gray-darkest;
  }
  .m-pikabu-container {
    background-color: $color-gray-light;
  }
}


