.m-pikabu-container {

  > header {
    display: table;
    width: 100%;
    background-color: $color-brand;

    .logo,
    .m-pikabu-nav-toggle {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $color-white;
    }

    .logo {
      padding: 10px 0;

      img {
        margin-left: -50px;
        max-height: 35px;
      }
    }

    .m-pikabu-nav-toggle {
      width: 50px;
      font-size: 20px;

      .fa-bars {
        color: $color-white;
      }
    }
  }
}
