@import "ui-panomobile";
@import "mixins";
@import "ui-application";
@import "components";

.ember-application {
  > .ember-view {
    position: absolute;
    // overflow-x: hidden !important; /* what's this for? */
    width : 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}
