.blocks {
  display: table;
  width: 100%;

  .block {
    display: table-cell;
    vertical-align: middle;

    &.content-left {
      text-align: left;
    }
    &.content-right {
      text-align: right;
    }
  }
}
