.m-pikabu-container {

  > header {
    position: relative;
    display: table;
    width: 100%;
    background-color: $color-brand;

    .btn-back {
      position: absolute;
      left: $grid-gutter-width / 2;
      color: $color-white;
      font-size: 25px;
    }

    .title,
    .m-pikabu-nav-toggle {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $color-white;
    }

    .title {
      padding: 10px 0 10px 50px; // padding-left make up for .m-pikabu-nav-toggle width
      text-transform: capitalize;

      img {
        max-height: 35px;
      }
    }

    .m-pikabu-nav-toggle {
      width: 50px;
      font-size: 20px;

      .fa-bars {
        color: $color-white;
      }
    }
  }
}
