<h2>{{#link-to 'projects'}}&lt;{{/link-to}} {{ title }}</h2>

<button {{action 'handleFavoriteToggle' this}}>
  {{#if favorite}}Unfavorite{{else}}Favorite{{/if}}
</button>

{{#if favorite}}
  <p><em>reminder goes here</em></p>
{{/if}}

{{{ content.content }}}
