<section class="page-index">

  <header>
    {{view 'select' content=listOfCategories
                    value=selectedCategoryId
                    optionValuePath='content.id'
                    optionLabelPath='content.name'}}
    <h1>Project Book</h1>
  </header>

    {{#each project in sortedProjects}}

      {{#link-to 'project' project tagName="figure"}}
        <img src={{ project.image.blog-medium.url }}>
      {{/link-to}}

    {{/each}}

</section>
