{{view 'select' content=listOfCategories
                valueBinding=selectedCategoryId
                optionValuePath='content.id'
                optionLabelPath='content.name'}}

<ul>
  {{#each project in sortedProjects}}
    <li>
      {{#link-to 'project' project}}{{ project.title }}{{/link-to}}
      {{#if project.favorite}}<sup>*</sup>{{/if}}
    </li>
  {{/each}}
</ul>
