<section class="page-index">

  {{view 'select' class="form-control project-filter"
                  content=listOfCategories
                  value=selectedCategoryId
                  optionValuePath='content.id'
                  optionLabelPath='content.name'}}

  {{#each sortedProjects as |project|}}

    {{#link-to 'project' project class="project"}}
      <figure>
        <img src={{ project.image.blog-medium.url }}>
        <caption>{{ project.title }}</caption>
      </figure>
    {{/link-to}}

  {{/each}}

</section>
