<section class="page-index">

  {{view 'select' class="project-filter"
                  content=listOfCategories
                  value=selectedCategoryId
                  optionValuePath='content.id'
                  optionLabelPath='content.name'}}

  {{#each project in sortedProjects}}

    {{#link-to 'project' project class="project"}}
      <img src={{ project.image.blog-medium.url }}>
    {{/link-to}}

  {{/each}}

</section>
