#simplemodal-container {

  top: 50% !important;
  height: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform:     translateY(-50%);
  transform:         translateY(-50%);

  .buttons {
    text-align: center;

    &.single-button {
      [class*="button"] {
        float: none;
        margin-right: 0;
      }
    }
  }

  .paper-list {
    overflow-y: scroll;
    max-height: 250px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  }

}
