#simplemodal-container {

  top: 50% !important;
  height: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform:     translateY(-50%);
  transform:         translateY(-50%);

  .buttons {
    text-align: center;

    &.single-button {
      [class*="button"] {
        float: none;
        margin-right: 0;
      }
    }
  }

}
