.app-view {

  padding-top: 90px;
  height: 100%;

  &.no-margin {
    padding-top: 60px;
  }

  .text-dark {
    color: #444;
  }
  .text-light {
    color: #888;
  }
  .text-center {
    text-align: center;
  }

  @media (max-width:766px) {
    .container {
      padding-left : 20px;
      padding-right: 20px;
    }
  }

  @media (min-width:767px) {
    .container {
      padding-left : 50px;
      padding-right: 50px;
    }
  }

}
