.snap-navigation {

  height: 100%;

  .snap-drawer {
    &.snap-drawer-left,
    &.snap-drawer-right {
      overflow-x: hidden;
    }
  }

  .sidebar-header-left a:last-child {
    border-left-style: solid;
  }

  .sidebar-divider {
    margin-top   : 25px;
    margin-bottom: 0px;
  }

  .sidebar-session-buttons {
    margin: 40px 20px;

    .button {
      text-align: center;
    }
  }

}
