.owl-carousel {

  .owl-controls {
    position: absolute;
    left:   0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .owl-dot {
      width : 8px;
      height: 8px;
    }
  }

  .container-fullscreen {
    margin-bottom: 0;
  }

}
