.ui-user-session {
  margin-top    : -30px;
  margin-bottom : 40px;
  padding-top   : 30px;
  padding-bottom: 30px;

  &,
  .heading-icon,
  .or-buttons-style-1 em {
    background-color: #eee;
  }
}
