.app-view.view-cart {

  .page-index {
    .shopping-cart {
      margin-bottom: $grid-gutter-width / 2;
    }
    .custom-entry {
      display: block;
      position: relative;
      top: -5px;
      padding-left: $grid-gutter-width;
      line-height: normal;
      font-size: 10px;
      color: #888;
    }

    .input-group .form-control {
      height: 33px;
    }

    .controls {
      @include clearfix();

      .btn.btn-danger {
        float: right;
      }
    }

    .related-posts {
      padding-left: 30px; // match .ui-checkbox to be inline
    }
  }

  .page-show {
    //
  }

}
