.calendar {
  .month {
    margin-bottom: $grid-gutter-width;

    h4 {}

    .day {
      @include clearfix();
      margin-bottom: $grid-gutter-width / 2;
      border-bottom: 1px solid #ccc;

      .date {
        float: left;
        color: $color-brand;
        font-size: 28px;
        line-height: normal;
      }
      .records {
        margin-left: 50px;

        .record {
          position: relative;
          display: block;
          padding-right : $grid-gutter-width;
          padding-bottom: $grid-gutter-width / 2;

          + .record {
            margin-top: $grid-gutter-width / 2;
          }

          &:hover {
            text-decoration: none;
          }

          &:after {
            position: absolute;
            top  : 50%;
            right: -10px;
            margin-top: -12px;
            width : 20px;
            height: 25px;
            content: "";
            font-family: 'FontAwesome';
            font-size: 25px;
          }

          .title {
            margin-bottom: 5px;
            color: $color-gray-darkest;
            font-weight: bold;
            font-size: 16px;
          }
          .content {
            color: $color-gray-medium;
            line-height: 22px;
            font-size: 14px;

            p {
              margin: 0;
            }
          }

          &:not(:last-child) {
            // padding-bottom: $grid-gutter-width / 2;
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}
