<section class="page-index">

  {{#if model.length}}

    <div class="portfolio-wide container-fullscreen">
      {{#each model as |favorite|}}

        {{#if favorite.entry}}
            {{favorite-item resource=favorite.entry
                            title=favorite.entry.title
                            subtitle="<i class='fa fa-lg fa-clock-o'></i> Almanac Entry"
                            imageUrl=favorite.entry.image.blog-medium.source_url
                            excerpt=favorite.entry.excerpt}}
        {{/if}}

        {{#if favorite.project}}
            {{favorite-item resource=favorite.project
                            title=favorite.project.title
                            subtitle="<i class='fa fa-lg fa-wrench'></i> Project Book"
                            imageUrl=favorite.project.image.blog-medium.source_url
                            excerpt=favorite.project.excerpt}}
        {{/if}}

      {{/each}}
    </div>

  {{else}}

    <div class="container">
      <p class="text-center">Looks like you haven&#39;t saved any favorites.</p>
    </div>

  {{/if}}

</section>
