<section class="page-index">

  {{#if content.length}}

    {{#each favorite in model}}

      {{#if favorite.entry}}
        {{#link-to 'entry' favorite.entry class="favorite"}}
          <img src={{ favorite.entry.image.blog-medium.url }}>
        {{/link-to}}
      {{/if}}

      {{#if favorite.project}}
        {{#link-to 'project' favorite.project class="favorite"}}
          <img src={{ favorite.project.image.blog-medium.url }}>
        {{/link-to}}
      {{/if}}

    {{/each}}

  {{else}}

    <p class="text-center">Looks like you haven&#39;t saved any favorites.</p>

  {{/if}}

</section>
