{{!-- sidebar menu --}}
<div class="m-pikabu-sidebar m-pikabu-left">
  {{partial "navigation"}}
</div>


{{!-- main content --}}
<div class="m-pikabu-container">
  <header>
    <i class="fa fa-bars m-pikabu-nav-toggle" data-role="left"></i>
    <h1 class="logo"><img src="assets/images/koopman_logo.png"></h1>
  </header>

  {{outlet}}
</div>
