<header>
  <h1>{{#link-to 'index'}}Koopman{{/link-to}}</h1>
</header>

<nav>
  {{#if session.isAuthenticated}}
    <a href="#" {{ action 'invalidateSession' }}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}

  {{#link-to 'entries'}}Almanac{{/link-to}}
  {{#link-to 'projects'}}Projects{{/link-to}}
  {{#link-to 'favorites'}}Favorites{{/link-to}}
  {{#link-to 'reminders'}}Reminders{{/link-to}}

  {{#link-to 'settings'}}Settings{{/link-to}}
</nav>

{{outlet}}
