{{!-- Important for all pages that have galleries or portfolios --}}
<div class="gallery-fix"></div>

<div id="header" class="header">
  <div class="header-elements">
    <a href="#" class="header-logo"></a>
    <a href="#" class="header-icon-1 open-right-sidebar"><i class="fa fa-navicon"></i></a>
  </div>
</div>

<div class="all-elements">
  <div class="snap-drawers">
    <div class="snap-navigation">
      {{partial "navigation"}}
    </div>

    <div id="content" class="snap-content">
      {{outlet}}
    </div>
  </div>

  <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
</div>

{{#if session.isAuthenticated}}
  {{notification-signin}}
{{/if}}

{{outlet "modal"}}
