{{!-- sidebar menu --}}
<div class="m-pikabu-sidebar m-pikabu-left">
  {{partial "navigation"}}
</div>


{{!-- main content --}}
<div class="m-pikabu-container">
  <header>
    <i class="fa fa-bars m-pikabu-nav-toggle" data-role="left"></i>
    <h1>Koopman App</h1>
  </header>

  <section>
    {{outlet}}
  </section>
</div>
