<article class="app-view view-contact">

  <div class="container">
    <div class="heading-style-5">
      <h4 class="heading-title">Contact Us</h4>
      <i class="fa fa-envelope-o heading-icon"></i>
      <div class="line bg-black"></div>
    </div>

    <p class="contact-option-call">
      <strong><i class="fa fa-phone"></i> Contact us by phone:</strong>
      <a href="tel:(508) 234-4545" class="contact-call">(508) 234-4545</a>
    </p>

    <div class="or-buttons-style-3">
      <em>or</em>
      <strong></strong>
    </div>

    <div class="contact-form no-bottom">
      {{#if displaySuccessMessage}}
        <div class="formSuccessMessageWrap {{if animateSuccessMessage 'in'}}" id="formSuccessMessageWrap">
          <div class="big-notification green-notification">
            <h3 class="uppercase">Message Sent </h3>
            <a href="#" class="close-big-notification">x</a>
            <p>Your message has been successfuly sent. Please allow up to 48 hours for a reply! Thank you!</p>
          </div>
        </div>
      {{/if}}

      <form {{action "saveReaction" on="submit"}} class="contactForm" id="contactForm">
        <fieldset>
          <div class="formFieldWrap">
            <label class="field-title contactNameField" for="contactNameField">Name:<span>(required)</span></label>
            <input type="text" name="contactNameField" value="" class="contactField requiredField" id="contactNameField">
          </div>

          <div class="formFieldWrap">
            <label class="field-title contactEmailField" for="contactEmailField">Email: <span>(required)</span></label>
            <input type="text" name="contactEmailField" value="" class="contactField requiredField requiredEmailField" id="contactEmailField">
          </div>

          <div class="formTextareaWrap">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Message: <span>(required)</span></label>
            {{textarea value=model.feedback placeholder="Enter feedback here" class="contactTextarea requiredField" id="contactMessageTextarea"}}
          </div>

          <div class="formSubmitButtonErrorsWrap">
            <button disabled={{ isWithoutFeedback }} class="buttonWrap button button-blue button-round contactSubmitButton" id="contactSubmitButton" data-formid="contactForm">Send Feedback</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</article>
