<article class="app-view view-login no-margin">

  {{#unless session.isAuthenticated}}

  <div class="pageapp-login bg-5 cover-screen">
    <form {{action 'requestPasswordChange' on='submit'}}>

        <div class="pageapp-login-content cover-center">
          <div class="unboxed-layout">
            <div class="text-instructions">
              <h1>Forgot Your Password?</h1>
              <p>No problem! Provide your email address below and we&#39;ll send you an email to reset password with instructions.</p>
            </div>

            {{#if isSuccess}}
              <div class="static-notification bg-green-dark">
                <h6><i class="fa fa-check static-notification-icon"></i>Password Requested</h6>
                <p>Please check your email for further instructions to change your password.</p>
              </div>

            {{else}}

              <div class="pageapp-login-field">
                <i class="fa fa-envelope-o"></i>
                {{input value=identification type="email" placeholder="Email Address"}}
              </div>

              {{#if isProcessing}}
                <button disabled class="pageapp-login-button button button-small button-blue button-round button-fullscreen">
                  <i class="fa fa-refresh fa-spin fa-fw"></i> Submit
                </button>
              {{else}}
                <button class="pageapp-login-button button button-small button-blue button-round button-fullscreen">Submit</button>
              {{/if}}
            {{/if}}


            <div class="decoration"></div>

            {{#link-to "login" class="login-create"}}
              <i class="fa fa-user"></i>Login
            {{/link-to}}
          </div>
        </div>

    </form>
    <div class="overlay bg-black"></div>
  </div>
  {{/unless}}

</article>
