<h2>Almanac</h2>
{{ model.entry.month }} {{ model.entry.day }}
{{#link-to 'entry' model.entry}}
  {{ model.entry.title }}
{{/link-to}}

<h2>Featured Project</h2>
{{#link-to 'project' model.project}}
  {{ model.project.title }}
{{/link-to}}

<h2>My Posts</h2>
{{#link-to 'favorites'}}Favorites{{/link-to}}
{{#link-to 'reminders'}}Reminders{{/link-to}}
