<article class="app-view view-dashboard no-margin">

  {{#slider-items data-snap-ignore="true" margin="2"}}
    <div class="content">
      <div class="container-fullscreen heading-style-2">
        <h4 class="heading-title">Deal One</h4>
        <em class="heading-subtitle">Lorem ipsum dolor sit amet...</em>
        <div class="overlay bg-black"></div>
      </div>
    </div>

    <div class="content">
      <div class="container-fullscreen heading-style-2">
        <h4 class="heading-title">Deal Two</h4>
        <em class="heading-subtitle">Lorem ipsum dolor sit amet...</em>
        <div class="overlay bg-black"></div>
      </div>
    </div>

    <div class="content">
      <div class="container-fullscreen heading-style-2">
        <h4 class="heading-title">Deal Three</h4>
        <em class="heading-subtitle">Lorem ipsum dolor sit amet...</em>
        <div class="overlay bg-black"></div>
      </div>
    </div>
  {{/slider-items}}

  <section class="list">
    {{#link-to 'entries' class="item"}}
      <i class="fa fa-calendar"></i>
      <em>Almanac</em>
    {{/link-to}}

    {{#link-to 'projects' class="item"}}
      <i class="fa fa-wrench"></i>
      <em>Projects</em>
    {{/link-to}}

    {{#if session.isAuthenticated}}
      {{#link-to 'cart' class="item"}}
        <i class="fa fa-check-square-o"></i>
        <em>Shopping List</em>
      {{/link-to}}

      {{#link-to 'reminders' class="item"}}
        <i class="fa fa-clock-o"></i>
        <em>Reminders</em>
      {{/link-to}}
    {{/if}}
  </section>

</article>
