<article class="app-view view-login no-margin">

  {{#unless session.isAuthenticated}}

    <form {{action 'authenticate' on='submit'}}>

      <div class="pageapp-login bg-5 cover-screen">
        <div class="pageapp-login-content cover-center">
          <div class="unboxed-layout">
            <div class="pageapp-login-logo"></div>

            {{#if errorMessage}}
              <div class="static-notification bg-red-dark tap-dismiss">
                <p><i class="fa fa-times"></i>{{ errorMessage }}</p>
              </div>
            {{/if}}

            <div class="pageapp-login-field">
              <i class="fa fa-user"></i>
              {{input value=identification type="email" placeholder="Email Address"}}
            </div>

            <div class="pageapp-login-field">
              <i class="fa fa-lock"></i>
              {{input value=password type="password" placeholder="password"}}
            </div>

            <button class="pageapp-login-button button button-small button-blue button-round button-fullscreen">Login</button>

            <div class="decoration"></div>

            {{#link-to "registration" class="login-create"}}
              <i class="fa fa-user"></i>Create Account
            {{/link-to}}
          </div>
        </div>
        <div class="overlay bg-black"></div>
      </div>

    </form>
  {{/unless}}

</article>
