{{#modal-base title="Shopping List" class="modal-shopping-list" close="removeModal"}}

  <ul class="tools paper-list">
    {{#each tool in tools}}
      <li>
        {{ tool.title }}

        {{#if tool.product}}

          <button class="btn btn-danger btn-outline btn-sm" {{action 'removeProduct' tool.product}}><i class="fa fa-minus"></i></button>

        {{else}}

          <button class="btn btn-success btn-outline btn-sm" {{action 'addProduct' tool}}><i class="fa fa-plus"></i></button>

        {{/if}}
      </li>
    {{/each}}
  </ul>

{{/modal-base}}
