{{#modal-base title="Please Login"
              ok="setPreviousRouteBeforeLogin"
              close="removeModal"
              okLabel="Login"
              hideCancelButton=true}}

  <p>You must log in or sign up to use this feature.</p>

{{/modal-base}}
