{{#modal-base title="Please Login" class="modal-login-prompt" close="removeModal" hideFooter=true}}

  <div class="blocks">
    <div class="block">
      <p>You must log in or sign up to use this feature.</p>
    </div>

    <div class="block">
      {{link-to 'Login' 'login' class="btn btn-primary" data-dismiss="modal"}}
    </div>
  </div>

{{/modal-base}}
