{{#modal-base title="Are You Sure You Want To Claim This Deal?" okLabel="Yes" cancelLabel="No" ok="handleClaimConfirmed" close="removeModal"}}

  <p class="text-center">You will have 2 minutes to show the cashier to claim this deal before it expires.</p>

{{/modal-base}}
