<!--Left Sidebar-->
<div class="snap-drawer snap-drawer-left">
    <!--Disabled on this page-->
</div>

<!--Right Sidebar -->
<div class="snap-drawer snap-drawer-right">

  <div class="sidebar-header-left">
    <a class="sidebar-logo" href="#"></a>
    <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
  </div>

  <p class="sidebar-divider">Navigation</p>

  <div class="sidebar-menu">
    {{#link-to 'index' class="menu-item"}}
      <i class="fa fa-home"></i>
      <em>Home</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#link-to 'entries' class="menu-item"}}
      <i class="fa fa-calendar"></i>
      <em>Almanac</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#link-to 'projects' class="menu-item"}}
      <i class="fa fa-wrench"></i>
      <em>Projects</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#if session.isAuthenticated}}
      <div class="sidebar-divider">My Actions</div>

      {{#link-to 'cart' class="menu-item"}}
        <i class="fa fa-shopping-cart"></i>
        <em>Shopping List</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}

      {{#link-to 'favorites' class="menu-item"}}
        <i class="fa fa-star"></i>
        <em>Favorites</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}

      {{#link-to 'reminders' class="menu-item"}}
        <i class="fa fa-clock-o"></i>
        <em>Reminders</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}
    {{/if}}
  </div>

  <p class="sidebar-footer">Copyright 2015. All rights reserved</p>

</div>
