<!--Left Sidebar-->
<div class="snap-drawer snap-drawer-left">
    <!--Disabled on this page-->
</div>

<!--Right Sidebar -->
<div class="snap-drawer snap-drawer-right">

  <div class="sidebar-header-left">
    <a class="sidebar-logo" href="#"></a>
    <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
  </div>

  <p class="sidebar-divider">Navigation</p>

  <div class="sidebar-menu">
    {{#link-to 'index' class="menu-item"}}
      <i class="fa fa-home"></i>
      <em>Home</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#link-to 'entries' class="menu-item"}}
      <i class="fa fa-calendar"></i>
      <em>Almanac</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#link-to 'projects' class="menu-item"}}
      <i class="fa fa-wrench"></i>
      <em>Projects</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#if session.isAuthenticated}}
      <div class="sidebar-divider">My Actions</div>

      {{#link-to 'cart' class="menu-item"}}
        <i class="fa fa-shopping-cart"></i>
        <em>Shopping List</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}

      {{#link-to 'favorites' class="menu-item"}}
        <i class="fa fa-star"></i>
        <em>Favorites</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}
    {{/if}}

    <p class="sidebar-divider">About Us</p>

    {{#link-to 'locations' class="menu-item"}}
      <i class="fa fa-map-marker"></i>
      <em>Locations</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#link-to 'contact' class="menu-item"}}
      <i class="fa fa-envelope"></i>
      <em>Contact Us</em>
      <i class="fa fa-circle"></i>
    {{/link-to}}

    {{#if session.isAuthenticated}}
      <p class="sidebar-divider">My Account</p>
      {{#link-to 'settings' class="menu-item"}}
        <i class="fa fa-cog"></i>
        <em>Settings</em>
        <i class="fa fa-circle"></i>
      {{/link-to}}
    {{/if}}

    <div class="sidebar-session-buttons">
      {{#if session.isAuthenticated}}
        <a href="#" class="buttonWrap button button-green contactSubmitButton button-round sessionButton" {{action 'invalidateSession'}}>Sign Out</a>
      {{else}}
        {{link-to 'Sign In' 'login' class="buttonWrap button button-green contactSubmitButton button-round sessionButton"}}
      {{/if}}
    </div>
  </div>

  <p class="sidebar-footer">Copyright 2015. All rights reserved</p>

</div>
